@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
	font-family: "Inter", sans-serif;
}
input {
	font-family: "Inter", sans-serif;
	padding: 0;
	text-align: top;
	overflow: auto;
}
textarea {
	font-family: "Inter", sans-serif;
	padding: 15px;
}
button {
	font-family: "Inter", sans-serif;
}
a {
	color: #000 !important;
	text-decoration: none;
}

header {
	width: 1252px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	div {
		display: flex;
		align-items: center;
		transition: all 0.3s ease-out;
		button {
			font-size: 16px;
			font-family: "Inter", sans-serif;
			background: #ffffff;
			border-radius: 15px;
			margin-right: 25px;
			padding: 0px 15px 0px 15px;
			height: 40px;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
}
main {
	width: 1252px;
	margin: 0 auto;
	.container {
		background-color: #59ad67;
		color: white;
		border-radius: 15px;
		padding: 10px;
		transition: all 0.3s ease-out;

		cursor: pointer;
	}
	aside {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr;
		grid-column-gap: 80px;
		grid-row-gap: px;
		button {
			font-size: 16px;
			font-family: "Inter", sans-serif;
			background: #59ad67;
			border-radius: 15px;
			margin-right: 25px;
			color: white;
			padding: 25px;
			height: 40px;

			cursor: pointer;
			transition: all 0.3s ease-out;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
	article {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 55px;
		grid-row-gap: 40px;
		margin-top: 75px;
		button {
			font-family: "Inter", sans-serif;
			width: 153px;
			height: 39px;
			background: #ffffff;
			border-radius: 15px;
			border: 0;

			cursor: pointer;
			transition: all 0.3s ease-out;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
}
.orders_page {
	display: flex;
	flex-direction: row;

	h1 {
		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		color: black;
	}
	.block_orders {
		color: white;
		display: flex;
		flex-direction: column;
		margin: 0;
		overflow: hidden;

		.block_order {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
			grid-template-areas:
				"a a a a b b b b"
				"c c c c d d d d";
			align-items: start;
			width: 679px;
			height: 106px;
			background: #59ad67;
			border-radius: 15px;
			transition: all 0.3s ease-out;
			cursor: pointer;

			.head {
				grid-area: a;
				padding-left: 15px;
			}
			.price {
				padding: 15px;
				grid-area: d;
			}
			.img {
				padding: 15px;
				grid-area: b;
			}
			.tags {
				grid-area: c;
				display: flex;
				padding: 15px;

				.tag {
					width: 95px;
					height: 24px;
					background: #ffffff;
					color: black;
					text-align: center;
					border-radius: 5px;
					margin-right: 15px;
					padding: 0 10px 0 10px;
					overflow: hidden;
				}
			}
		}
		.orders_clear {
			font-size: 25px;
			font-family: "Inter", sans-serif;
			background: #ffffff;
			border-radius: 15px;
			border: #000;
			width: 50%;
			height: 50%;
			margin: 0 auto;

			padding: 15px 15px 15px 15px;
			height: 40px;
			p {
				text-align: center;
				color: black;
			}
		}
		.pagination_buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 99%;
			justify-content: space-between;
			button {
				width: 300px;

				height: 40px;
				text-align: center;
				background: #59ad67;
				border-radius: 15px;
				border-style: none;
				color: white;
				transition: all 0.3s ease-out;
				cursor: pointer;
			}
			:hover {
				border-radius: 0.5rem;
			}
		}

		:hover {
			border-radius: 0.5rem;
		}
	}
}

.aside_orders_page {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-top: 130px;
	.aside_text {
		margin: 0 auto;
	}
	input {
		border: none;
		width: 388px;
		height: 39px;
		font-size: 18px;
		text-align: center;
		border-radius: 15px;
		background: url(../../public/lup.png) no-repeat 97% 13px;
		background-size: 15px;
		background-color: rgba(89, 173, 103, 0.7);
		transition: all 0.3s ease-out;
		cursor: pointer;
	}
	:hover {
		border-radius: 0.5rem;
	}
	.aside_tags {
		margin-top: 15px;
		color: white;
		width: 400px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 28px;
		grid-row-gap: 15px;

		.aside_tag {
			width: 180px;
			height: 40px;
			text-align: center;
			background: #59ad67;
			border-radius: 15px;

			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		.aside_tag {
			transition: all 0.3s ease-out;
			border: 1px;
		}
		:active {
			background-color: #ffffff;
		}

		:hover {
			border-radius: 0.5rem;
		}
	}
	hr {
		width: 99%;
		margin-top: 0px;
	}
	button {
		margin-top: 25px;
		width: 99%;
		height: 40px;
		text-align: center;
		background: #59ad67;
		border-radius: 15px;
		border-style: none;

		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		transition: all 0.3s ease-out;
		cursor: pointer;
	}
}

.main_form {
	width: 700px;
	margin: 0 auto;

	form {
		display: flex;
		margin-top: 30%;
		flex-direction: column;
		input {
			text-align: center;
			font-size: 15px;
			margin-top: 15px;
			border: none;
			width: 100%;
			height: 39px;
			background: rgba(89, 173, 103, 0.7);
			border-radius: 15px;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		button {
			margin-top: 15px;
			background: #59ad67;
			border-radius: 15px;
			border: none;
			height: 45px;
		}
	}
}

.new_order_create {
	display: flex;
	flex-direction: row;
	.new_order_create_form {
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		height: 700px;
		margin-top: 20px;
		label {
			font-size: 20px;
			margin-top: 15px;
		}
		textarea {
			color: #ffffff;
			margin-top: 15px;
			border: none;
			width: 720px;
			height: 60px;
			background: rgba(89, 173, 103, 0.7);
			border-radius: 15px;
			font-size: 15px;
			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		input {
			color: #ffffff;
			margin-top: 15px;
			border: none;
			width: 750px;
			height: 60px;
			background: rgba(89, 173, 103, 0.7);
			border-radius: 15px;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		.new_order_create_form_input {
			height: 250px;
		}
		button {
			margin-top: 15px;
			background: #59ad67;
			border-radius: 15px;
			border: none;
			height: 45px;
			color: #ffffff;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
}
.order_detail_page {
	display: flex;
	justify-content: space-around;
	.order_detail_page_detail {
		display: flex;
		flex-direction: column;
		background-color: #59ad67;
		color: #ffffff;
		border-radius: 15px;
		padding: 25px;
		width: 675px;
		height: 100%;
		justify-content: space-between;
		.tag {
			width: 95px;
			height: 24px;
			background: #ffffff;
			color: black;
			text-align: center;
			border-radius: 5px;
			margin-right: 15px;
			padding: 0 10px 0 10px;
			overflow: hidden;
			padding-top: auto;
		}
		.order_detail_page_detail_text_head {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
		.order_detail_page_detail_text_tags {
			display: flex;
			flex-direction: row;

			width: 100%;
			align-items: center;
			margin-top: auto;
		}
	}
	.order_detail_page_contacts {
		display: flex;
		flex-direction: column;
		margin-top: 75px;
		width: 390px;
		height: 475px;
		padding: 25px;
		background-color: #59ad67;
		color: #ffffff;
		border-radius: 15px;
		text-align: center;
		p {
			width: 100%;
		}
		span {
			text-align: start;
			margin-top: 5px;
		}
	}
	.order_detail_page_detai_dropdown {
		display: flex;
		transition: all 0.3s ease-out;
		flex-direction: column;
		input {
			width: 99%;
			border: none;
			height: 50px;
			border-radius: 15px;
			margin-top: 5px;
		}
		button {
			width: 100%;
			margin-top: 10px;
		}
	}
	:disabled {
		color: black;
	}
}
.userpage {
	display: flex;
	flex-direction: column;
	.userpage_new_description {
		display: flex;
		flex-direction: column;
		textarea {
			height: 200px;
		}
		button {
			margin-top: 15px;
			background-color: #59ad67;
		}
	}
	.userpage_contact {
		display: flex;
		flex-direction: column;
		.userpage_active_contact {
		}
		.userpage_new_contact {
			display: flex;
			flex-direction: column;
			padding: 15px;
			margin-top: 30px;
			width: 100%;
			color: white;
			background-color: #59ad67;
			border-radius: 15px;
			input {
				border-radius: 5px;
				margin-top: 5px;
				margin-bottom: 5px;
				height: 30px;
				text-align: center;
				transition: all 0.3s ease-out;
			}
			button {
				background-color: white;
				color: #000;
				width: 100%;
				border-radius: 15px;
				transition: all 0.3s ease-out;
				cursor: pointer;
			}
			:hover {
				border-radius: 0.5rem;
			}
		}
	}
	.userpage_orders {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 70px;
		.userpage_order {
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: #59ad67;
			border-radius: 15px;
			margin-top: 25px;
			padding: 15px;
			height: 100px;
			width: 350px;

			.tags {
				display: flex;
				padding: 15px;
				.tag {
					width: 70px;
					height: 20px;
					font-size: 15px;
					background: #ffffff;
					color: black;
					text-align: center;
					border-radius: 5px;
					margin-right: 5px;
					padding: 0 10px 0 10px;
					overflow: hidden;
				}
			}
			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
	button {
		background-color: #e42e2e;
		border-radius: 15px;
		color: white;
		height: 35px;
		width: 150px;
		margin-top: 15px;
		transition: all 0.3s ease-out;
		cursor: pointer;
	}
	:hover {
		border-radius: 0.5rem;
	}
}
.userprofile_orders {
	display: flex;
	flex-direction: column;
	width: 1250px;
	margin: 0 auto;
	.userprofile_order {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		border-radius: 15px;
		padding: 15px;
		background-color: #59ad67;
		width: 70%;
		height: 250px;
		span {
			margin-top: 15px;
			color: white;
		}
		button {
			margin-top: 15px;
			margin-right: 10px;
			background: #ffffff;
			border-radius: 15px;
			border: none;
			height: 45px;
			color: #000000;

			transition: all 0.3s ease-out;
			cursor: pointer;
		}
		:hover {
			border-radius: 0.5rem;
		}
	}
}

.time {
	font-size: 15px;
	margin: 0;
}
.btn_send {
	margin-top: 25px;
}
.dropdown {
	position: relative;
	display: inline-block;

	.dropdown-menu {
		position: absolute;
		top: 100%; /* чтобы выпадающий список падал вниз от кнопки */
		left: 0;
		width: 465px;
		background-color: #59ad67;
		opacity: 1;
		border-radius: 15px;
		color: white;
		list-style-type: none;
		padding: 0;
		margin-top: 5px;
	}
	li {
		padding: 8px 16px;
		cursor: pointer;
	}
	li:hover {
		background-color: #2e9b40;
	}
}

.dropdown .dropdown-menu footer {
	padding: 0;
	margin: 0;
	position: relative;
	background: #59ad67;
	border-radius: 15px;
	height: 250px;
	width: 100%;
	margin-top: 50px;
}
