@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
	font-family: "Inter", sans-serif;
	width: 1252px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	div {
		display: flex;
		align-items: center;
		button {
			font-size: 16px;
			font-family: "Inter", sans-serif;
			background: #59ad67;
			border-radius: 15px;
			margin-right: 25px;
			color: white;
			padding: 25px;
			height: 40px;
		}
	}
}
main {
	.container {
		background-color: #59ad67;
		color: white;
		border-radius: 15px;
		padding: 10px;
	}
	aside {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr;
		grid-column-gap: 80px;
		grid-row-gap: px;
		button {
			font-size: 16px;
			font-family: "Inter", sans-serif;
			background: #59ad67;
			border-radius: 15px;
			margin-right: 25px;
			color: white;
			padding: 25px;
			height: 40px;
		}
	}
	article {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 55px;
		grid-row-gap: 40px;
		margin-top: 75px;
		button {
			font-family: "Inter", sans-serif;
			width: 153px;
			height: 39px;
			background: #ffffff;
			border-radius: 15px;
			border: 0;
		}
	}
}
